<div style="text-align:center">
  <h1>
    Screen this way
  </h1>

  <div class="screen">
    
  </div>
</div>
<div class="col-lg-12 seat-container" >
    <span class="gold" style="padding:45px 75px;">Gold</span>
    <span class="gold" style="padding:25% 35%;">Diamond</span>
    <div style="margin-top: 50px;"></div>
  <div  *ngFor="let seatrow of seatmap ">
    <div class="col-12 pricing-label"  *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
      <div class="seatrow container" >
          <div *ngIf="seatChartConfig?.showRowsLabel">
              <div class="row-label" >   </div>
          </div>
          
          <div *ngFor="let seatobj of seatrow.seats ">
             
           <div class="seat-item seat-space" style="color:white ; background-color:white" *ngIf="seatobj.seatLabel == ''">  &nbsp; </div>
            <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price}}Rs" placement="top"
             [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }" 
               (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''" > {{ seatobj.seatNo}}</div>
               
              </div>  
          
      </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-6" style="margin:0px auto 50px;">
  <div class="seat_plan">
    <table class="table " >
      <thead style="border: 1px solid #000000;">
        <tr >
          <th>No. of Seats</th>
          <th>Total Fare</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cart?.selectedSeats?.length }}</td>
          <td>{{cart.totalamount}} Rs</td>
          <td><button class="btn btn-primary" (click)="blockSeats(cart)">Confirm</button>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- <div class="total  bg-default">
      <b>Total: {{total}}</b>
    </div> -->
    <!-- <div class="row ">
      <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block ">Confirm</button>
    </div> -->
  </div>
</div>
</div>

